/* Henry Nelson */ 

/* everything SMALLER/Equal to 500, PHONE / MOBILE */
@media only screen and (max-width:500px) {

html {
  background-color:white;
}
  body{
    margin:0;
    text-align:center;
    background-color:white;
    width:100%;
    color: transparent;
  }

.container{
    display:flex;
    padding: .5rem;
    flex-flow:column nowrap;
    height:fit-content;
    margin-left:20px;
    margin-right:20px;
}


div{flex:1;}

.box{margin:5px;
width:100%;}

.boxes {margin:5px;}


/* Rows */ 

.container > .firstrow{
    display:flex;
    flex-direction:row nowrap;
    flex-basis:60px;
    flex-grow:0;
    flex-shrink:0;
}

.container > .secondrow {
display:flex;
flex-flow:column nowrap;
flex-basis:100px;
flex-grow:0;
flex-shrink:0;
}

.container > .secondrow > * {
  width:98.5%;
  flex-basis:25px;
}

.thirdandfourthconnect { 
  display:flex;
  flex-flow:column nowrap;
  flex-basis:450px;
}

.container > .thirdandfourthconnect  > .thirdrow{
  display:flex;
  flex-direction:row nowrap;
  flex-basis:200px;
  flex-grow:0;
  flex-shrink:0;
}

.container > .thirdandfourthconnect > .fourthrow{
  display:flex;
  flex-direction:row nowrap;
  flex-basis:250px;
  flex-grow:0;
  flex-shrink:0;
  gap:10px;
}


.container > .thirdandfourthconnect >  .left, .container > .right{
display:flex;
flex-flow:column nowrap;
}

.right {
  display:flex;
}
.left {
  display:flex;
  flex-flow:column nowrap;
}

.container > .fifthrow {
display:flex;
flex-flow:row nowrap;
flex-basis:60px;
flex-grow:0;
flex-shrink:0;
}

/* box colors */ 

.box1 {background-color:#ff82a2;}
.box2 {background-color:#555555;}
.box3 {background-color:#555555;}
.box4 {background-color:#555555;}
.box5 {background-color:#555555;}
.box6 {background-color:#555555;}
.box7 {background-color:#ff82a2;}
.box8 {background-color:#555555;}
.box9 {background-color:#555555;}
.box10 {background-color:#555555;}
.box11 {background-color:#555555;}
.box12 {background-color:#ff82a2;}
.box13 {background-color:#ff82a2;}

}



/* everything BETWEEN 500px(nolesserthan500) - 800px(nogreaterthan800), TABLET */
@media screen and (min-width:501px) and (max-width:800px) {
  html {background-color:white;}
    body{
      margin:0;
      text-align:center;
      background-color:white;
      width:100%;
      color:transparent;
    }
  
  .container{
      display:flex;
      padding: .5rem;
      flex-flow:column nowrap;
      height:fit-content;
      margin-left:20px;
      margin-right:20px;
  }
  
  
  div{flex:1;}
  
  .box{margin:5px;
  width:100%;}
  
  .boxes {margin:5px;}
  
  
  /* Rows */ 
  
  .container > .firstrow{
      display:flex;
      flex-direction:row nowrap;
      flex-basis:80px;
      flex-grow:0;
      flex-shrink:0;
  }
  
  .container > .secondrow {
  display:flex;
  flex-flow:row nowrap;
  flex-basis:50px;
  flex-grow:0;
  flex-shrink:0;
  }
  
  .container > .secondrow > * {
    width:98.5%;
  }

  .thirdandfourthconnect { 
    display:flex;
    flex-flow:column nowrap;
    flex-basis:500px;
  }

  .container > .thirdandfourthconnect  > .thirdrow{
    display:flex;
    flex-direction:row nowrap;
    flex-basis:415px;
    flex-grow:0;
    flex-shrink:0;
  }
  
  .container > .thirdandfourthconnect > .fourthrow{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    flex-basis:150px;
    flex-grow:0;
    flex-shrink:0;
  }
  
  .right {
    display:flex;
    flex-grow:0;
    flex-shrink:0;
    flex-basis:45%;
  }
  .left {
    display:flex;
    flex-flow:row;
    flex-basis:25%;
    flex-wrap:wrap;
    width:80%;
  }
  
  .left > * {
    flex-wrap:wrap;
    flex-basis:20vw;
  }

  .container > .fifthrow {
  display:flex;
  flex-flow:row nowrap;
  flex-basis:80px;
  flex-grow:0;
  flex-shrink:0;
  }

  
  /* box colors */ 
  
  .box1 {background-color:#ff82a2;}
  .box2 {background-color:#555555;}
  .box3 {background-color:#555555;}
  .box4 {background-color:#555555;}
  .box5 {background-color:#555555;}
  .box6 {background-color:#555555;}
  .box7 {background-color:#ff82a2;}
  .box8 {background-color:#555555;}
  .box9 {background-color:#555555;}
  .box10 {background-color:#555555;}
  .box11 {background-color:#555555;}
  .box12 {background-color:#ff82a2;}
  .box13 {background-color:#ff82a2;}
  
}



/* everything LARGER than 800px, COMPUTER */ 
@media screen and (min-width: 801px) {

  html {background-color:white;}
  body{
    margin:0;
    text-align:center;
    background-color:white;
    width:100%;
    color:transparent;
  }

.container{
    display:flex;
    padding: .5rem;
    flex-flow:column nowrap;
    height:fit-content;
    margin-left:20px;
    margin-right:20px;
    gap:10px;
}


div{flex:1;}

.box{margin:5px;
width:100%;}

.boxes {margin:5px;}

/* Rows */ 

.container > .firstrow{
    display:flex;
    flex-direction:row nowrap;
    flex-basis:60px;
    flex-grow:0;
    flex-shrink:0;
}

.container > .secondrow {
display:flex;
flex-flow:row nowrap;
flex-basis:40px;
flex-grow:0;
flex-shrink:0;
gap:4%;
}

.container > .secondrow > * {
  width:100%;
}

.thirdandfourthconnect { 
  display:flex;
  flex-flow:row nowrap;
  flex-basis:300px;
  width:100%;
  gap:10px;
}

.container > .thirdandfourthconnect > .thirdrow{
  display:flex;
  flex-direction:row wrap;
  flex-basis:auto;
  flex-grow:0;
  flex-shrink:0;
  width:54%;
}

.container > .thirdandfourthconnect > .fourthrow{
  display:flex;
  flex-direction:column;
  flex-wrap:wrap;
  flex-basis:auto;
  flex-grow:0;
  flex-shrink:0;
  width:45%;
  gap:10px
}

.right {
  display:flex;
  flex-grow:0;
  flex-shrink:0;
  flex-basis:50%;
  order:1;
}
.left {
  display:flex;
  flex-flow:row;
  flex-basis:25%;
  flex-wrap:wrap;
  width:100%;
  order:2;
  row-gap: 10%;
  column-gap:4%;
}

.left > * {
  flex-wrap:wrap;
  flex-basis:15vw;
}

.container > .fifthrow {
display:flex;
flex-flow:row nowrap;
flex-basis:80px;
flex-grow:0;
flex-shrink:0;
}

/* box colors */ 

.box1 {background-color:#ff82a2;}
.box2 {background-color:#555555;}
.box3 {background-color:#555555;}
.box4 {background-color:#555555;}
.box5 {background-color:#555555;}
.box6 {background-color:#555555;}
.box7 {background-color:#ff82a2;}
.box8 {background-color:#555555;}
.box9 {background-color:#555555;}
.box10 {background-color:#555555;}
.box11 {background-color:#555555;}
.box12 {background-color:#ff82a2;}
.box13 {background-color:#ff82a2;}

}
